body {
    background-image : url('./images/background.jpg');
    background-repeat: no-repeat, repeat;
    background-size: 100%;
}
.card{
    margin-top: 5%; 
    padding: 20px;
}
.reset{
    margin-bottom: 15px;
    width: 100%;
}
hr{
  margin: 20px;
  border-bottom: 1px #b3b3b3;
}
.feedback {
    border-radius: 5px;
    padding: 4px;
    background-color: #ea4335;
    display: flex;
    align-items: center;
    min-height: 50px;
}
.y {
    background-color: #f2ff00
}

.e {
    background-color: #ff0000
}

.h {
    background-color: #ff6e00
}

.d {
    background: rgb(112, 225, 233);
    color: white;
    font-family: Times, serif;
}

.w {
    background-color: #ffd000;
}

.c {
    background-color: #68dcff
}


.feedback-text {
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
}